<!-- waitlist/templates/waitlist/success.html -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waitlist Success</title>
    <link rel="stylesheet" href="{% static 'waitlist/styles.css' %}">
<style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f8f8;
            text-align: center;
            padding: 50px;
        }

        h2 {
            color: #4caf50;
        }

        p {
            color: #333;
        }
    </style>
</head>
<body>

    <h2>Thank You for Joining Our Waitlist!</h2>
    <p>We will keep you updated. Stay tuned!</p>

</body>
</html>
